<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.april.demoTicTacToe"
		android:versionCode="5000"
		android:versionName="5.0.0">
		
	<uses-feature android:glEsVersion="0x00020000"/>
	<uses-feature android:name="android.hardware.screen.landscape"/>
	
	<application android:label="Demo Tic Tac Toe"
			android:icon="@mipmap/icon"
			android:theme="@style/AprilSplashScreen">
		<activity android:name=".DemoTicTacToe"
				android:label="Demo Tic Tac Toe"
				android:screenOrientation="sensorLandscape"
				android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
	
</manifest> 
