<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.april"
      android:versionCode="5000"
      android:versionName="5.0.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="26"/>
    
</manifest> 
